/* NavBar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around; /* evenly distribute items along the line */
  align-items: center;
  padding: 1em;
  background-color: #fff; /* change background color to white */
  z-index: 100; /* ensure the navbar is above other elements */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* add a subtle shadow for a softer look */
}

.logo {
  height: 60px; /* adjust as needed */
}

.nav-links {
  display: flex;
  gap: 1em;
}

.nav-item {
  color: #000; /* change text color to black */
  text-decoration: none;
}

.nav-item:hover {
  color: #feb501; /* change hover color to yellow */
}

.contact-button {
  background-color: #feb501;
  color: #000;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

.contact-button:hover {
  background-color: #eaa400;
  color: #fff;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* stack items vertically on small screens */
  }

  .logo {
    margin-bottom: 1em; /* add some space between the logo and the links */
  }
}
